<div class="container-fluid">
  <%= form_with model: @fresher do |form| %>
    <div>
      <%= form.label :FullName, class: 'col-md-3 col-form-label' %>
      <%= form.text_field :name, required: true %>
    </div>
    <div>
      <%= form.label :Email, class: 'col-md-3 col-form-label' %>
      <%= form.text_field :email, required: true %>
    </div>
    <div>
      <%= form.label :Gender, class: 'col-md-3 col-form-label' %>
      <%= form.select :gender, option: ['Male', 'Female'] %>
    </div>
    <div>
      <%= form.label :Contact, class: 'col-md-3 col-form-label' %>
      <%= form.text_field :contact, required: true %>
    </div>
    <div>
      <%= form.label :Highest_Qualification, class: 'col-md-3 col-form-label' %>
      <%= form.select :highest_qualification, option: ['HSC','SSC','Diploma','Graduation','Post Graduation','Phd' ] %>
    </div>
    <div>
      <%= form.label :Branch, class: 'col-md-3 col-form-label' %>
      <%= form.text_field :branch %>
    </div>
    <div>
      <%= form.label :college, class: 'col-md-3 col-form-label' %>
      <%= form.text_field :college %>
    </div>
    <div>
      <%= form.label :passout_year, class: 'col-md-3 col-form-label' %>
      <%= form.text_field :passout_year, required: true %>
    </div>
    <div>
      <%= form.label :current_location, class: 'col-md-3 col-form-label' %>
      <%= form.text_field :current_location %>
    </div>
    <div>
      <%= form.label :resume, class: 'col-md-3 col-form-label' %>
      <%= form.file_field :resume, required: true %>
    </div>
    <div>
      <%= form.label :note, class: 'col-md-3 col-form-label' %>
      <%= form.text_area :note %>
    </div>
    <div>
      <%= form.label :status, class: 'col-md-3 col-form-label' %>
      <%= form.text_field :status %>
    </div>
    <div>
      <%= form.label :schedule_at, class: 'col-md-3 col-form-label' %>
      <%= form.datetime_field :schedule_at %>
    </div>
    <div>
      <%= form.label :interviewer, class: 'col-md-3 col-form-label' %>
      <%= form.text_field :interviewer %>
    </div>
    <div>
      <%= form.label :admin_note, class: 'col-md-3 col-form-label' %>
      <%= form.text_area :admin_note %>
    </div>
    <div class="col-md-4 form-group text-center ">
      <%= form.submit "Submit Profile", class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>