<div class="container-fluid">
  <div class="row justify-content-center align-items-center">
    <h3>Experiences Profile</h3>
  </div>
  <%= form_with model: @experience,  html: { class: "new_profile"} do |form| %>
    <div class="field form-group">
      <label for="colFormLabel" class="control-label required-field">Full Name</label>
      <div class="">
        <%= form.text_field :name, placeholder: 'Enter Name', class: "form-control" %>
        <p class='validation-error'><%= show_errors(@experience, :name) %></p>
      </div>  
    </div>
    
    <div class="field form-group">
      <label for="colFormLabel" class="control-label required-field">Email</label>
      <div class="">
        <%= form.text_field :email, placeholder: 'Enter Email', class: "form-control"  %>
        <p class='validation-error'><%= show_errors(@experience, :email) %></p>
      </div>
    </div>

    <div class="field form-group">
      <label for="colFormLabel" class="control-label required-field">Gender</label>
      <div class="">
        <%= form.select :gender, Fresher::GENDER, {:prompt => false}, class: "form-control" %>
        <p class='validation-error'><%= show_errors(@experience, :gender) %></p>
      </div>
    </div>

    <div class="field form-group">
      <label for="colFormLabel" class="control-label required-field">Contact</label>
      <div class="">
        <%= form.text_field :contact, placeholder: 'Enter Contact', class: "form-control"  %>
        <p class='validation-error'><%= show_errors(@experience, :contact) %></p>
      </div>
    </div>

    <div class="field form-group">
      <label for="colFormLabel" class="control-label required-field">Experience</label>
      <div class="">
        <%= form.text_field :experience, placeholder: 'Enter Your Experience', class: "form-control"  %>
        <p class='validation-error'><%= show_errors(@experience, :experience) %></p>
      </div>
    </div>

    <div class="field form-group">
      <label for="colFormLabel" class="control-label required-field">Highest Qualification</label>
      <div class="">
        <%= form.select :highest_qualification, option: ['HSC','SSC','Diploma','Graduation','Post Graduation','Phd' ], class: "form-control" %>
        <p class='validation-error'><%= show_errors(@experience, :highest_qualification) %></p>
      </div>
    </div>

    <div class="field form-group">
      <label for="colFormLabel" class="control-label required-field">Branch</label>
      <div class="">
        <%= form.text_field :branch, placeholder: 'Enter Branch', class: "form-control"  %>
        <p class='validation-error'><%= show_errors(@experience, :branch) %></p>
      </div>
    </div>

    <div class="field form-group">
      <label for="colFormLabel" class="control-label">Apply For</label>
      <div class="">
        <%= form.select :apply_for, option: ['RUBY ON RAILS','PYTHON','FRONT-END DEVELOPER', 'DESIGNER','HR','WEB DESIGNER','GRAPHICS DESIGNER','NETWORK ADMINISTRATOR','OFFICE ADMINISTRATOR','QA ENGINEER','OTHER']%>
        <p class='validation-error'><%= show_errors(@experience, :apply_for) %></p>
      </div>
    </div>

    <div class="field form-group">
      <label for="colFormLabel" class="control-label required-field">Current Company</label>
      <div class="">
        <%= form.text_field :current_company, placeholder: 'Enter Your Current Company', class: 'form-control' %>
        <p class='validation-error'><%= show_errors(@experience, :current_company) %></p>
      </div>
    </div>

    <div class="field form-group">
      <label for="colFormLabel" class="control-label required-field">Current Location</label>
      <div class="">
        <%= form.text_field :current_location, placeholder: 'Enter Current Location', class: 'form-control' %>
        <p class='validation-error'><%= show_errors(@experience, :current_location) %></p>
      </div>
    </div>    

    <div class="field form-group">
      <label for="colFormLabel" class="control-label required-field">Resume</label>
      <div class="">
        <%= form.file_field :resume, class: "form-control" %>
        <p class='validation-error'><%= show_errors(@experience, :resume) %></p>
      </div>
    </div> 

    <div class="field form-group">
      <label for="colFormLabel" class="control-label required-field">Current ctc</label>
      <div class="">
        <%= form.text_field :current_ctc, placeholder: 'Enter Current CTC', class: "form-control"  %>
        <p class='validation-error'><%= show_errors(@experience, :current_ctc) %></p>
      </div>
    </div>

    <div class="field form-group">
      <label for="colFormLabel" class="control-label required-field">Expected ctc</label>
      <div class="">
        <%= form.text_field :expected_ctc, placeholder: 'Expected CTC', class: "form-control"  %>
        <p class='validation-error'><%= show_errors(@experience, :expected_ctc) %></p>
      </div>
    </div> 

    <div class="field form-group">
      <label for="colFormLabel" class="control-label required-field">Notice Period</label>
      <div class="">
        <%= form.text_field :notice_period, placeholder: 'Enter Notice Period', class: "form-control"  %>
        <p class='validation-error'><%= show_errors(@experience, :notice_period) %></p>
      </div>
    </div> 

    <div class="field form-group">
      <label for="colFormLabel" class="control-label required-field">Notice period Negotiable</label>
      <div class="">
        <%= form.text_field :notice_period_negotiable, placeholder: 'Enter Notice Period Negotiable', class: "form-control" %>
        <p class='validation-error'><%= show_errors(@experience, :notice_period_negotiable) %></p>
      </div>
    </div> 

    <div class="field form-group">
      <label for="colFormLabel" class="control-label">Note</label>
      <div class="">
        <%= form.text_area :note, placeholder: 'Discription', class: "form-control" %>
      </div>
    </div> 

    <div class="row text-center">
      <div class="actions ">
        <%= form.submit "Submit Profile", class: "btn btn-primary btn-lg" %>
      </div>
    </div> 
  <% end %>
</div>

