<!DOCTYPE html>
<html>
  <head>
    <title>ActiveAdminEx</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.9.1/jquery-ui.js"></script>
    <nav class="navbar navbar-expand-lg navbar-light bg-light,navbar navbar-dark bg-dark">
      <img src="<%= asset_path('yuva-logo.png') %>" width="" height="30" alt="" class='yuva-logo'> 
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="http://www.yuvasoftech.com/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://www.yuvasoftech.com/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://www.yuvasoftech.com/services">Service</a>
          </li>
          <li class="nav-item dropdown">
            <a class="btn btn-secondary dropdown-toggle" href="#" id="dropdownMenuButton" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Upload Resume</a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="/freshers/new">Fresher Profile</a>
              <a class="dropdown-item" href="/experiences/new">Experiences Profile</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </head>
  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
